// Modules and variables
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/default";
@import "partials/typography";
@import "partials/buttons";
@import "partials/form";

.mainMenu h1{
	color:#585858;
}

.progress{
	width:100%;
	height:24px;
	background-color:$grey;
}

.progressSmall{
	width:100%;
	background-color:$grey;
	height:5px;
}

.progressDescription{
	color:#FAFAFA;
	padding-left:20px;
	font-size:12px;
	margin-top:5px;
	float:left;
}

.progressBar{
	width:0%;
	max-width: 100%;
	height:24px;
	background-color: $lightGrey;
	float:left;
}

	//Fysiek Werk
	.fysiekWerk .progress{
		background-color:$yellow;
	}

		.fysiekWerk .progressBar{
			background-color: $lightYellow;
		}

	.fysiekWerk h1{
		color:$yellow;
	}

	//Adviserend Werk
	.adviserendWerk .progress{
		background-color:$blue;
	}

		.adviserendWerk .progressBar{
			background-color: $lightBlue;
		}

	.adviserendWerk h1{
		color:$blue;
	}

	//Handarbeid
	.handarbeid .progress{
		background-color:$green;
	}

		.handarbeid .progressBar{
			background-color: $lightGreen;
		}

	.handarbeid h1{
		color:$green;
	}

	//Technisch Werk
	.technischWerk .progress{
		background-color:$red;
	}

		.technischWerk .progressBar{
			background-color: $lightRed;
		}

	.technischWerk h1{
		color:$red;
	}

.description{
	padding:30px 30px 30px 20px;
}

	.information{
		margin-right:220px;
		padding-right:30px;
	}

	.details, .quickMenu{
		width:210px;
	}
		.details ul{
			margin-top:5px;
			margin-left:50px;
		}

		.quickMenu ul{
			margin-top:15px;
			margin-left:30px;
		}

			.iconItem{
				padding: 0 0 0 40px;
				margin-bottom:15px;
				font-size:15px;
			}

			.dateIcon{
				background: url('../images/icons/date_icon.png') no-repeat;
			}

			.timeIcon{
				background: url('../images/icons/time_icon.png') no-repeat;
			}

			.moneyIcon{
				background: url('../images/icons/money_icon.png') no-repeat;
			}

			.settingsIcon{
				background: url('../images/icons/settings_icon.png') no-repeat;
			}

			.companyIcon{
				background: url('../images/icons/company_icon.png') no-repeat;
			}

//Slider
.jobSlider{
	position: relative;
	padding:30px 20px 0 0;
}