@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 1, ../sass/partials/_reset.scss */
li {
  list-style: none;
}

/* line 4, ../sass/base.scss */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #999;
}
