@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 1, ../sass/partials/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/partials/_reset.scss */
li {
  list-style: none;
}

/* line 3, ../sass/partials/_typography.scss */
h1 {
  font-weight: bold;
  font-size: 15px;
  color: #989898;
}

/* line 9, ../sass/partials/_typography.scss */
p {
  line-height: 30px;
  font-size: 15px;
}

/* line 14, ../sass/partials/_typography.scss */
.subTitle {
  color: #d5d5d5;
}

/* line 18, ../sass/partials/_typography.scss */
.centerText {
  text-align: center;
}

/* line 1, ../sass/partials/_buttons.scss */
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #989898;
  padding: 8px 12px;
  margin: 5px;
  width: 175px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
/* line 13, ../sass/partials/_buttons.scss */
.btn:hover {
  background-color: #c5c5c5;
}

/* line 19, ../sass/partials/_buttons.scss */
.fysiekWerk .btn {
  background-color: #fec606;
}
/* line 21, ../sass/partials/_buttons.scss */
.fysiekWerk .btn:hover {
  background-color: #fedf73;
}

/* line 26, ../sass/partials/_buttons.scss */
.adviserendWerk .btn {
  background-color: #0692fe;
}
/* line 28, ../sass/partials/_buttons.scss */
.adviserendWerk .btn:hover {
  background-color: #73c2fe;
}

/* line 33, ../sass/partials/_buttons.scss */
.handarbeid .btn {
  background-color: #6bcd3b;
}
/* line 35, ../sass/partials/_buttons.scss */
.handarbeid .btn:hover {
  background-color: #ace391;
}

/* line 40, ../sass/partials/_buttons.scss */
.technischWerk .btn {
  background-color: #fe0606;
}
/* line 42, ../sass/partials/_buttons.scss */
.technischWerk .btn:hover {
  background-color: #fe7373;
}

/* line 47, ../sass/partials/_buttons.scss */
.btnWorkIcon {
  background-image: url("../images/icons/work_icon.png");
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 40px;
  margin-left: 20px;
  width: 180px;
}

/* line 56, ../sass/partials/_buttons.scss */
.jobs .btn {
  margin: 15px 0 35px 35px;
}

/* line 60, ../sass/partials/_buttons.scss */
.job .btn {
  margin: 15px 0 35px 20px;
}

/* line 9, ../sass/base.scss */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #aaaaaa;
  background-color: #f2f2f2;
}

/* line 16, ../sass/base.scss */
a {
  color: #989898;
  text-decoration: none;
}
/* line 19, ../sass/base.scss */
a:hover {
  text-decoration: underline;
}

/* line 24, ../sass/base.scss */
select:first-child {
  background-color: #dcdcdc;
}

/* line 28, ../sass/base.scss */
select {
  background-color: #f2f2f2;
  border: none;
  padding: 7px 15px;
  color: #6c6c6c;
  font-weight: bold;
  font-size: 15px;
  font-family: lato;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 30px;
}

/* line 43, ../sass/base.scss */
select:focus {
  outline: none;
}

/* line 47, ../sass/base.scss */
option {
  padding: 5px;
}

/* line 51, ../sass/base.scss */
.bold {
  font-weight: bold;
}

/* line 55, ../sass/base.scss */
.grid-container {
  max-width: 960px;
}

/* line 59, ../sass/base.scss */
.block {
  background-color: #fff;
  border-bottom: 3px solid #dfdfdf;
}

/* line 64, ../sass/base.scss */
.progress {
  width: 100%;
  height: 23px;
  background-color: #989898;
}

/* line 70, ../sass/base.scss */
.progressSmall {
  width: 100%;
  background-color: #989898;
  height: 5px;
}

/* line 76, ../sass/base.scss */
.progressBar {
  width: 20%;
  height: 23px;
  background-color: #c5c5c5;
}

/* line 85, ../sass/base.scss */
.fysiekWerk .progressBar {
  width: 50%;
}

/* line 89, ../sass/base.scss */
.handarbeid .progressBar {
  width: 80%;
}

/* line 97, ../sass/base.scss */
.fysiekWerk .progress {
  background-color: #fec606;
}

/* line 101, ../sass/base.scss */
.fysiekWerk .progressBar {
  background-color: #fedf73;
}

/* line 105, ../sass/base.scss */
.fysiekWerk h1 {
  color: #fec606;
}

/* line 110, ../sass/base.scss */
.adviserendWerk .progress {
  background-color: #0692fe;
}

/* line 114, ../sass/base.scss */
.adviserendWerk .progressBar {
  background-color: #73c2fe;
}

/* line 118, ../sass/base.scss */
.adviserendWerk h1 {
  color: #0692fe;
}

/* line 123, ../sass/base.scss */
.handarbeid .progress {
  background-color: #6bcd3b;
}

/* line 127, ../sass/base.scss */
.handarbeid .progressBar {
  background-color: #ace391;
}

/* line 131, ../sass/base.scss */
.handarbeid h1 {
  color: #6bcd3b;
}

/* line 136, ../sass/base.scss */
.technischWerk .progress {
  background-color: #fe0606;
}

/* line 140, ../sass/base.scss */
.technischWerk .progressBar {
  background-color: #fe7373;
}

/* line 144, ../sass/base.scss */
.technischWerk h1 {
  color: #fe0606;
}

/* line 148, ../sass/base.scss */
.mainTitle {
  padding: 20px 30px 20px 20px;
}

/* line 152, ../sass/base.scss */
.description {
  padding: 30px 30px 30px 20px;
}

/* line 156, ../sass/base.scss */
.information {
  margin-right: 220px;
  padding-right: 30px;
}

/* line 161, ../sass/base.scss */
.details, .quickMenu {
  width: 210px;
}

/* line 164, ../sass/base.scss */
.details ul {
  margin-top: 5px;
  margin-left: 50px;
}

/* line 169, ../sass/base.scss */
.quickMenu ul {
  margin-top: 15px;
  margin-left: 30px;
}

/* line 174, ../sass/base.scss */
.iconItem {
  padding: 0 0 0 40px;
  margin-bottom: 15px;
  font-size: 15px;
}

/* line 180, ../sass/base.scss */
.dateIcon {
  background: url("../images/icons/date_icon.png") no-repeat;
}

/* line 184, ../sass/base.scss */
.timeIcon {
  background: url("../images/icons/time_icon.png") no-repeat;
}

/* line 188, ../sass/base.scss */
.moneyIcon {
  background: url("../images/icons/money_icon.png") no-repeat;
}

/* line 192, ../sass/base.scss */
.settingsIcon {
  background: url("../images/icons/settings_icon.png") no-repeat;
}

/* line 196, ../sass/base.scss */
.companyIcon {
  background: url("../images/icons/company_icon.png") no-repeat;
}

/* line 200, ../sass/base.scss */
.floatFix {
  overflow: hidden;
}

/* line 204, ../sass/base.scss */
.marginTop {
  margin-top: 20px;
}

/* line 210, ../sass/base.scss */
.floatLeft {
  float: left;
}

/* line 214, ../sass/base.scss */
.floatRight {
  float: right;
}

/* line 220, ../sass/base.scss */
.mainMenu {
  height: 95px;
}

/* line 224, ../sass/base.scss */
.mainMenu h1 {
  padding-top: 20px;
}

/* line 228, ../sass/base.scss */
.mainMenu img {
  padding-top: 10px;
  margin-right: 15px;
}

/* line 233, ../sass/base.scss */
.menuLink {
  display: block;
  padding: 15px;
}

/* line 238, ../sass/base.scss */
.borderRight {
  border-right: 1px solid #eaeaea;
}

/* line 244, ../sass/base.scss */
.subMenuLink {
  display: block;
  padding: 5px 0;
}
