@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 1, ../sass/partials/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/partials/_reset.scss */
li {
  list-style: none;
}

/* line 14, ../sass/partials/_reset.scss */
a img {
  border: none;
}

/* line 1, ../sass/partials/_default.scss */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #aaaaaa;
  background-color: #f2f2f2;
}

/* line 10, ../sass/partials/_default.scss */
.hidden {
  display: none;
}

/* line 14, ../sass/partials/_default.scss */
.grid-container {
  max-width: 960px;
}

/* line 18, ../sass/partials/_default.scss */
.block {
  background-color: #fff;
  border-bottom: 3px solid #dfdfdf;
}

/* line 23, ../sass/partials/_default.scss */
.floatFix {
  overflow: hidden;
}

/* line 27, ../sass/partials/_default.scss */
.marginTop {
  margin-top: 20px;
}

/* line 31, ../sass/partials/_default.scss */
.center {
  display: block;
  margin: 0 auto;
}

/* line 36, ../sass/partials/_default.scss */
.mainTitle {
  padding: 20px 30px 20px 20px;
}

/* line 42, ../sass/partials/_default.scss */
.floatLeft {
  float: left;
}

/* line 46, ../sass/partials/_default.scss */
.floatRight {
  float: right;
}

/* line 50, ../sass/partials/_default.scss */
.posRelative {
  position: relative;
}

/* line 56, ../sass/partials/_default.scss */
.mainMenu {
  height: 95px;
}

/* line 60, ../sass/partials/_default.scss */
.mainMenu h1 {
  padding-top: 20px;
}

/* line 64, ../sass/partials/_default.scss */
.mainMenu img {
  padding-top: 10px;
  margin-right: 15px;
}

/* line 69, ../sass/partials/_default.scss */
.menuLink {
  display: block;
  padding: 15px;
}

/* line 74, ../sass/partials/_default.scss */
.borderRight {
  border-right: 1px solid #eaeaea;
}

/* line 80, ../sass/partials/_default.scss */
.subMenuLink {
  display: block;
  padding: 5px 0;
}

/* line 3, ../sass/partials/_typography.scss */
h1 {
  font-weight: bold;
  font-size: 15px;
  color: #989898;
}

/* line 9, ../sass/partials/_typography.scss */
p {
  line-height: 30px;
  font-size: 15px;
}

/* line 14, ../sass/partials/_typography.scss */
a {
  color: #989898;
  text-decoration: none;
}
/* line 17, ../sass/partials/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 22, ../sass/partials/_typography.scss */
.subTitle {
  color: #d5d5d5;
}

/* line 26, ../sass/partials/_typography.scss */
.centerText {
  text-align: center;
}

/* line 30, ../sass/partials/_typography.scss */
.bold {
  font-weight: bold;
}

/* line 1, ../sass/partials/_buttons.scss */
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #989898;
  padding: 8px 12px;
  margin: 5px;
  width: 175px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
/* line 13, ../sass/partials/_buttons.scss */
.btn:hover {
  background-color: #c5c5c5;
}

/* line 19, ../sass/partials/_buttons.scss */
.fysiekWerk .btn {
  background-color: #fec606;
}
/* line 21, ../sass/partials/_buttons.scss */
.fysiekWerk .btn:hover {
  background-color: #fedf73;
}

/* line 26, ../sass/partials/_buttons.scss */
.adviserendWerk .btn {
  background-color: #0692fe;
}
/* line 28, ../sass/partials/_buttons.scss */
.adviserendWerk .btn:hover {
  background-color: #73c2fe;
}

/* line 33, ../sass/partials/_buttons.scss */
.handarbeid .btn {
  background-color: #6bcd3b;
}
/* line 35, ../sass/partials/_buttons.scss */
.handarbeid .btn:hover {
  background-color: #ace391;
}

/* line 40, ../sass/partials/_buttons.scss */
.technischWerk .btn {
  background-color: #fe0606;
}
/* line 42, ../sass/partials/_buttons.scss */
.technischWerk .btn:hover {
  background-color: #fe7373;
}

/* line 47, ../sass/partials/_buttons.scss */
.messageBoxBtn {
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 40px;
  margin-left: 20px;
  width: 180px;
}

/* line 55, ../sass/partials/_buttons.scss */
.btnWorkIcon {
  background-image: url("../images/icons/work_icon.png");
}

/* line 59, ../sass/partials/_buttons.scss */
.btnSettingsIcon {
  background-image: url("../images/icons/settings_icon_white.png");
}

/* line 63, ../sass/partials/_buttons.scss */
.jobs .btn {
  margin: 15px 0 35px 35px;
}

/* line 67, ../sass/partials/_buttons.scss */
.job .btn {
  margin: 15px 0 35px 20px;
}

/* line 1, ../sass/partials/_form.scss */
select:first-child {
  background-color: #dcdcdc;
}

/* line 5, ../sass/partials/_form.scss */
select {
  background-color: #f2f2f2;
  border: none;
  padding: 7px 15px;
  color: #6c6c6c;
  font-weight: bold;
  font-size: 15px;
  font-family: lato;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 30px;
}

/* line 19, ../sass/partials/_form.scss */
select:focus {
  outline: none;
}

/* line 23, ../sass/partials/_form.scss */
option, input {
  padding: 5px;
}

/* line 27, ../sass/partials/_form.scss */
textarea {
  max-width: 100%;
}

/* line 31, ../sass/partials/_form.scss */
fieldset {
  border: none;
}

/* line 35, ../sass/partials/_form.scss */
.contactForm .form-group {
  overflow: hidden;
  margin-bottom: 25px;
}

/* line 40, ../sass/partials/_form.scss */
.contactForm label {
  display: block;
  margin-bottom: 15px;
}

/* line 45, ../sass/partials/_form.scss */
.contactForm input {
  width: 100%;
}

/* line 49, ../sass/partials/_form.scss */
.contactForm .btn {
  display: block;
  margin: 0 auto;
}

/* line 54, ../sass/partials/_form.scss */
#remember {
  width: auto;
  margin-left: 10px;
}

/* line 59, ../sass/partials/_form.scss */
.buttonTopMargin .btn {
  margin-top: 15px;
}

/* line 11, ../sass/base.scss */
.mainMenu h1 {
  color: #585858;
}

/* line 15, ../sass/base.scss */
.progress {
  width: 100%;
  height: 24px;
  background-color: #989898;
  overflow: hidden;
}

/* line 22, ../sass/base.scss */
.progressSmall {
  width: 100%;
  background-color: #989898;
  height: 5px;
}

/* line 28, ../sass/base.scss */
.progressDescription {
  color: #FAFAFA;
  padding-left: 20px;
  font-size: 12px;
  margin-top: 5px;
  float: left;
}

/* line 36, ../sass/base.scss */
.progressBar {
  width: 0%;
  max-width: 100%;
  height: 24px;
  background-color: #c5c5c5;
  float: left;
}

/* line 45, ../sass/base.scss */
.fysiekWerk .progress {
  background-color: #fec606;
}

/* line 49, ../sass/base.scss */
.fysiekWerk .progressBar {
  background-color: #fedf73;
}

/* line 53, ../sass/base.scss */
.fysiekWerk h1 {
  color: #fec606;
}

/* line 58, ../sass/base.scss */
.adviserendWerk .progress {
  background-color: #0692fe;
}

/* line 62, ../sass/base.scss */
.adviserendWerk .progressBar {
  background-color: #73c2fe;
}

/* line 66, ../sass/base.scss */
.adviserendWerk h1 {
  color: #0692fe;
}

/* line 71, ../sass/base.scss */
.handarbeid .progress {
  background-color: #6bcd3b;
}

/* line 75, ../sass/base.scss */
.handarbeid .progressBar {
  background-color: #ace391;
}

/* line 79, ../sass/base.scss */
.handarbeid h1 {
  color: #6bcd3b;
}

/* line 84, ../sass/base.scss */
.technischWerk .progress {
  background-color: #fe0606;
}

/* line 88, ../sass/base.scss */
.technischWerk .progressBar {
  background-color: #fe7373;
}

/* line 92, ../sass/base.scss */
.technischWerk h1 {
  color: #fe0606;
}

/* line 96, ../sass/base.scss */
.description {
  padding: 30px 30px 30px 20px;
}

/* line 100, ../sass/base.scss */
.information {
  margin-right: 220px;
  padding-right: 30px;
}

/* line 105, ../sass/base.scss */
.details, .quickMenu {
  width: 210px;
}

/* line 108, ../sass/base.scss */
.details ul {
  margin-top: 5px;
  margin-left: 50px;
}

/* line 113, ../sass/base.scss */
.quickMenu ul {
  margin-top: 15px;
  margin-left: 30px;
}

/* line 118, ../sass/base.scss */
.iconItem {
  padding: 0 0 0 40px;
  margin-bottom: 15px;
  font-size: 15px;
}

/* line 124, ../sass/base.scss */
.dateIcon {
  background: url("../images/icons/date_icon.png") no-repeat;
}

/* line 128, ../sass/base.scss */
.timeIcon {
  background: url("../images/icons/time_icon.png") no-repeat;
}

/* line 132, ../sass/base.scss */
.moneyIcon {
  background: url("../images/icons/money_icon.png") no-repeat;
}

/* line 136, ../sass/base.scss */
.settingsIcon {
  background: url("../images/icons/settings_icon.png") no-repeat;
}

/* line 140, ../sass/base.scss */
.companyIcon {
  background: url("../images/icons/company_icon.png") no-repeat;
}

/* line 145, ../sass/base.scss */
.jobSlider {
  position: relative;
  padding: 30px 20px 0 0;
}
