$grey: #989898;
$lightGrey: #c5c5c5;

$yellow: #fec606;
$lightYellow: #fedf73; 

$blue: #0692fe;
$lightBlue: #73c2fe;

$green: #6bcd3b;
$lightGreen: #ace391;

$red: #fe0606;
$lightRed: #fe7373;

$text: #aaa;
$subText: #d5d5d5;

$line: #eaeaea;