.btn{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	background-color:$grey;
	padding:8px 12px;
	margin:5px;
	width:170px;
	font-size:15px;
	text-align: center;
	font-weight: bold;

	&:hover{
		background-color: $lightGrey;
	}

}

.fysiekWerk .btn{
	background-color:$yellow;
	&:hover{
		background-color:$lightYellow;		
	}
}

.adviserendWerk .btn{
	background-color:$blue;
	&:hover{
		background-color:$lightBlue;
	}
}

.handarbeid .btn{
	background-color:$green;
	&:hover{
		background-color:$lightGreen;
	}
}

.technischWerk .btn{
	background-color:$red;
	&:hover{
		background-color:$lightRed;
	}
}
