.btn{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	background-color:$grey;
	padding:8px 12px;
	margin:5px;
	width:175px;
	font-size:15px;
	text-align: center;
	font-weight: bold;

	&:hover{
		background-color: $lightGrey;
	}

}

.fysiekWerk .btn{
	background-color:$yellow;
	&:hover{
		background-color:$lightYellow;		
	}
}

.adviserendWerk .btn{
	background-color:$blue;
	&:hover{
		background-color:$lightBlue;
	}
}

.handarbeid .btn{
	background-color:$green;
	&:hover{
		background-color:$lightGreen;
	}
}

.technischWerk .btn{
	background-color:$red;
	&:hover{
		background-color:$lightRed;
	}
}

.messageBoxBtn{
	background-repeat: no-repeat;
	background-position: 10px 9px;
	padding-left:40px;
	margin-left:20px;
	width:180px;
}

.btnWorkIcon{
	background-image: url('../images/icons/work_icon.png');
}

.btnSettingsIcon{
	background-image: url('../images/icons/settings_icon_white.png');
}

.jobs .btn{
	margin:15px 0 35px 35px;
}

.job .btn{
	margin:15px 0 35px 20px;
}