.btn {
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: $grey;
	padding: 6px 12px;
	margin: 5px;

	&:hover {
		background-color: $light-grey;
	}

}

.btn-yellow {
	background-color: $yellow;
	&:hover {
		background-color: $light-yellow;		
	}
}

.btn-blue {
	background-color: $blue;
	&:hover {
		background-color: $light-blue;
	}
}

.btn-green {
	background-color: $green;
	&:hover {
		background-color: $light-green;
	}
}

.btn-red {
	background-color: $red;
	&:hover {
		background-color: $light-red;
	}
}
