body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: $text;
    background-color:#f2f2f2;
}

//Main classes

.hidden{
	display:none;
}

.grid-container{
	max-width:960px;
}

.block{
	background-color: #fff;
	border-bottom:3px solid #dfdfdf;
}

.floatFix{
	overflow:hidden;
}

.marginTop{
	margin-top:20px
}

.center{
	display:block;
	margin:0 auto;
}

.mainTitle{
	padding:20px 30px 20px 20px;
}

//Positioning

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.posRelative{
	position:relative;
}

//Menu

.mainMenu{
	height:95px;
}

.mainMenu h1{
	padding-top:20px;
}

.mainMenu img{
	padding-top:10px;
	margin-right:15px;
}

.menuLink{
	display:block;
	padding:15px;
}

.borderRight{
	border-right:1px solid $line;
}

//Submenu

.subMenuLink{
	display:block;
	padding:5px 0;
}