@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

h1{
	font-weight:bold;
	font-size:15px;
	color:$grey;
}

p{
	line-height:30px;
	font-size:15px;
}

.subTitle{
	color:$subText;
}

.centerText{
	text-align:center;
}